extends layout

block content
    div.container
        div.row
            div.col-md-10.col-md-offset-1
              h1 Contact Us
              br
              p.lead
                | Send us an email at
                a(href='mailto:hacksu@cs.kent.edu')  hacksu@cs.kent.edu
              p.lead
                | Join our group on
                a(href='http://facebook.com/groups/hacksu')  Facebook
              p.lead
                | Follow us on
                a(href='http://twitter.com/_hacksu')  Twitter
              p.lead
                | Check out our projects on
                a(href='https://github.com/hacksu')  GitHub
          div.row
            div.col-md-12(style='text-align: center; color: #b9b9b9;')
              h3(style='font-weight: 300;') We want to hear what you think!