extends layout

block content
    div.jumbotron
        div.container
            div.row
                div.col-xs-4
                    h1.title Learn
                    h1.title Grow
                    h1.title Create    
    div.container
        div.row#about-info
            div.col-md-4
                img.img-circle.img-responsive.img-info(src="/images/2.jpg", alt="Kent State")
            div.col-md-7.col-md-offset-1
                h2 Who are we?
                p.lead
                    span Hacksu is a student organization at Kent State University focused on learning and utilizing contemporary web and mobile technologies. We are a very diverse community, spanning multiple majors from Fashion Design to Zoology and are open to students of any skill level. Everyone is welcome.
    div.color-bg
        div.container
            div.row
                div.col-md-7
                    h2 What do we teach?
                    p.lead We teach a wide variety of technologies, both front end and back end. These include things like jQuery Mobile, Python, Django, Node.js, Android, iOS, Heroku, and much more. All of this is in hopes that you fall in love with one or many of these technologies and construct something cool.</p>
                div.col-md-4.col-md-offset-1
                    img.img-circle.img-responsive.img-info(src="/images/1.jpg", alt="Kent State")
                div.row    
                    div.col-md-7#events

    div.container
        div.row
            div.col-md-4
                img.img-circle.img-responsive.img-info(src="/images/3.jpg", alt="Kent State Honors' College")
            div.col-md-7.col-md-offset-1
                h2 How do I get involved?
                p.lead
                    | We recommend coming to our weekly meetings, held during the semester, on Tuesdays at the Honors College in Room 060 at 7:00pm. You can also join our
                    a(href="http://www.facebook.com/groups/hacksu")  Facebook page
                    |  and follow us on
                    a(href="http://www.twitter.com/_hacksu")  Twitter
                    |   to see what we are up to!
                p.lead
                    | Sign up to our mailing list so we can keep you updated on
                    | our weekly meetings and other goings ons.
                form.newsletter(action="/api/mailinglist", method="post")
                    label() Email:
                    input(type="email", name="email", id="email", required)
                    input(type="submit", value="Register")
