doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='icon', href='/images/favicon-hackathon.png', type='image/png')
    title Kent Hack Enough 2014
    link(rel='stylesheet', href='/stylesheets/main.css', media='screen')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css', media='screen')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css', media='screen')
    link(href="http://fonts.googleapis.com/css?family=Montserrat:700|Oxygen:300", rel="stylesheet", type="text/css")
    link(href='http://fonts.googleapis.com/css?family=Raleway:400,800,700,600,500,300,200,100', rel='stylesheet', type='text/css')
    script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyDYq8zb9yh7cvohTTkXoGehvEgYISHD5BQ&sensor=false')
    script.
        var map;
        var myCenter = new google.maps.LatLng(41.1466, -81.3425);

        function initialize() {
            var mapOptions = {
                zoom: 18,
                center: myCenter,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                disableDefaultUI: true,
                zoomControl: false,
                scrollwheel: false,
                navigationControl: false,
                mapTypeControl: false,
                scaleControl: false,
                draggable: false,
                disableDoubleClickZoom: true
            };
            map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);

            var marker = new google.maps.Marker({
                position: myCenter,
            });

            marker.setMap(map);

            var infowindow = new google.maps.InfoWindow({
                content: '<a target="_blank" href="https://www.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=kent+state+university&aq=&sll=40.365278,-82.669253&sspn=11.361268,20.852051&vpsrc=0&ie=UTF8&hq=kent+state+university&ll=41.145828,-81.332474&spn=0.043886,0.081453&t=m&z=14&iwloc=A&cid=15986076152611259443"><h4>Kent State University Library</h4></a>1125 Risman Drive<br>Kent OH, 44242</p>'
            });

            infowindow.open(map, marker);
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    style.
      .row.row-info-section {
      padding-top: 80px;
      padding-bottom: 120px!important;
      }
      h1, h4 {
      font-family:'Montserrat', sans-serif;
      font-weight:700;
      }
      .hackathon-nav-item > h4 {
      color: #d5f111;
      }
      .hackathon-nav-item:hover {
      text-decoration:none;
      }
      p.lead {
      line-height: 1.7em;
      }
      .hackathon-marketing > h1 {
      font-size:3.2em;
      }
      .hackathon-marketing > h1 {
      text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
      }
      .hackathon-marketing > h3 {
      font-weight: 300;
      text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
      }
      .jumbotron-hackathon {
      vertical-align: middle;
      margin-bottom: 0px!important;
      background-color: rgba(10, 10, 10, 1);
      -webkit-background-size: cover;
      background-position: -400px -100px;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      color: white!important;
      }
      .jumbotron-hackathon .container {
      padding-top: 0px;
      }
      .jumbotron-hackathon .title {
      text-shadow:2px 2px 2px black;
      font-size: 1.4em;
      }
      #submit-hack-button {
      margin:auto;
      background-color:#d5f111;
      color: white;
      font-weight:bold;
      padding: 14px 30px;
      border-radius: 5px;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
      font-size:1.2em;
      margin-top:0px;
      display:inline-block;
      }
      .center {
      text-align:center;
      }
      .img-sponsor {
      padding:20px;
      }
      #footer {
      margin-top:0px!important;
      }
      #submit-hack-link:hover {
      text-decoration:none;
      }
      @media (min-width: 768px) {
      .jumbotron-hackathon {
      background-position: -50px -70px;
      }
      .hackathon-marketing > h1 {
      font-size:5em;
      }
      .hackathon-marketing {
      margin-top:50px;
      }

      }
      @media (min-width: 992px) {
      .jumbotron-hackathon {
      background-position: 0px 0px;
      }
      .hackathon-marketing {
      margin-top:150px;
      }
      .hackathon-marketing > h1 {
      font-size:5.3em;
      }
      }
      @media (min-width: 1200px) {
      .hackathon-marketing {
      margin-top:75px;
      }
      .hackathon-marketing > h1 {
      font-size:8em;
      }
      .hackathon-marketing > h3 {
      font-size: 2em;
      }
      }
      a#submit-hack-link {
      color:white;
      }
      #submit-hack-button:hover {
      background-color:#d7e910;
      }
  body
    div.jumbotron-hackathon(style='padding: 0;')
      div(style='background-color: rgba(118, 118, 118, 0.42); height: 100%; margin: 0;')
        div.container
          div.row
            div.col-md-4.col-sm-4
              a(href='http://www.twitter.com/kenthackenough')
                img(style='width: 30px;', src="/images/twitter-logo.png")
              a(href='http://www.facebook.com/kenthackenough')
                img(style='width: 30px;', src="/images/facebook-logo.png")
              a.hackathon-nav-item(href='/khe2013')
                h4
                  | KENT HACK ENOUGH
                  small(style='color: #d4d4d4;') 2014
            div.col-md-2.col-md-offset-2.col-sm-2.col-sm-offset-2
              a.hackathon-nav-item(href='#what', onclick='showWhat();return false;')
                h4 WHAT
                p.text-muted(style='font-weight: 300; color: #d0d0d0;') more info
            div.col-md-2.col-sm-2
              a.hackathon-nav-item(href='#when', onclick='showWhen();return false;')
                h4 WHEN
                p.text-muted(style='font-weight: 300; color: #d0d0d0;') date & time
            div.col-md-2.col-sm-2
              a.hackathon-nav-item(href='#where', onclick='showWhere();return false;')
                h4 WHERE
                p.text-muted(style='font-weight: 300; color: #d0d0d0;') location & directions
          div.row
            div.col-md-12.hackathon-marketing(style="margin-top:-100px;")
              div.row
                div.col-md-8.col-md-offset-2
                  img(src="images/KHE_Logo.png", alt="KHE", style="width: 100%; margin-bottom: -100px;")
              div.row
                div.col-md-12.center
                  div#submit-hack-button.text-center(style="margin-top: -400px;")
                    a#submit-hack-link(href='https://www.eventbrite.com/e/kent-hack-enough-tickets-12185923425', target='_blank', style="text-color:white;") REGISTRATION IS NOW OPEN
    div#what(style='background-color: #fafafa;')
      div.container
        div.row
          div.col-lg-10.col-lg-offset-1
            h1(style='text-align: center;')
              | Kent Hack Enough
            br
            p.lead
              | Kent Hack Enough, Hacksu's annual hackathon, brings the passion
              | and innovation behind hackathons to the Midwest. With over
              | 300 participants, Kent Hack Enough will be the largest hackathon
              | in Ohio. Top prizes will include cash and exposure to top
              | companies. Admission is completely free for students, and travel
              | costs will be reimbursed.
            p.lead
              a(data-toggle='modal', href='#apisModal') Use these APIs and services in your hack.
        div.row
          div.col-md-5.col-md-offset-1.text-center
            img(style='height: 250px;', src='/images/travel.png')
            h3 Travel
            p.lead.text-left
              | If you are traveling from outside of Kent, we will reimburse
              | travel costs, so there really is no excuse you kent attend!
              | Contact us for more information.
          div.col-md-5.text-center
            img(style='height: 250px;', src='/images/rules.png')
            h3 Rules
            p.lead.text-left
              | In order to participate you must be a undergraduate or graduate
              | student at a college or university. Contact us if you're a high
              | school student wanting to participate. Projects must be started
              | from scratch, but the use of 3rd party libraries and APIs are
              | allowed. Team sizes are limited to 4 people.
    #when(style='background-color: #3498db; color: white;')
      div.container
        div.row(style='margin: 100px 0px;')
          div.col-md-5.col-md-offset-1
            img.img-responsive(style='margin: 0px auto;', src='/images/Calendar.png')
          div.col-md-5
            h1
              | Date & Time
            p.lead
              | Kent Hack Enough will be held on October 24th starting at 6:00pm
              | and run until 2:00pm on October 26th.
            br
            p.lead
              a(style='color: #fff; font-weight: 600;', data-toggle='modal', href='#myModal')
                | See a tentative schedule here.
    #where
      div.container
        div.row.row-info-section
          div.col-md-10.col-md-offset-1
            h1
              | Location
            a(data-toggle='modal', href='#directionsModal')
              p.lead Parking information
            br
            div#map-canvas(style='height: 500px; margin: 0 auto;')
    div(style='background-color: #d5f111;')
      div.container
        div#contact.row(style='margin: 100px 0px;')
          div.col-md-12(style='text-align: center; color: white;')
            h1(style='margin-bottom: 75px;') Have any questions for us?
            p.lead
              | Send us an email at&nbsp;
              a(style='color: #2f2f2f;', href='mailto:hacksu@cs.kent.edu') hacksu@cs.kent.edu
              | .
            p.lead
              | Follow us us on&nbsp;
              a(style='color: #2f2f2f;', href='http://www.twitter.com/kenthackenough') Twitter
              | &nbsp;for news and announcements.
    div#sponsors
      div.container
        div.row
          div.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
            h1 Sponsors
            p.lead
              a(style='color: #286b98;', target='_blank', href='/docs/InformationPacket.pdf') Would you like to help sponsor and get involved with Kent Hack Enough?
            div.col-md-12
              a(href='http://www.knightfoundation.org/')
                img.img-responsive.img-grayscale.img-sponsor(src='/images/knight-foundation.png', style='margin: 0 auto;')
        div.row
          div.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
            div.col-md-6
              a(href='http://www.progressive.com/')
                img.img-grayscale.img-responsive.img-sponsor(src='/images/progressive.png', style='margin: -10px auto; margin-top: -20px;')
            div.col-md-6
              a(href='http://teespring.com/')
                img.img-grayscale.img-responsive.img-sponsor(src='/images/teespring-blue.png', style='margin: -10px auto;')
        div.row
          div.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
            div.col-md-6
              a(href='http://www.flashstarts.com/')
                img.img-grayscale.img-responsive.img-sponsor(src='/images/flashstarts.png', style='margin: -10px auto;')
            div.col-md-6
              a(href='http://www.americangreetings.com/')
                img.img-grayscale.img-responsive.img-sponsor(src='/images/americangreetings.png', style='margin: -10px auto; margin-top: -10px;')
        div.row(style='margin-top: 20px;')
          div.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
            div.col-md-6
              a(href='https://mobiledefense.com/')
                img.img-grayscale.img-responsive.img-sponsor(src='/images/mobiledefense.jpg', style='margin: -10px auto;')
            div.col-md-6
              a(href='https://hyland.com/')
                img.img-grayscale.img-responsive.img-sponsor(src='/images/hyland.png', style='margin: -10px auto;')
        div.row(style='margin-top:20px;')
          div.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
            div.col-md-6
              a(href='http://www2.kent.edu/cas/cs/')
                img.img-grayscale.img-responsive.img-sponsor(src='/images/kent-state.png', style='margin: -10px auto;')
            div.col-md-6
              a(href='http://rovisys.com/')
                img.img-grayscale.img-responsive.img-sponsor(src='/images/rovisys.png', style='margin: -10px auto;')
        div.row(style='margin-top:20px;')
          div.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
            div.col-md-4
              a(href='http://www.kent.edu/dsci')
                img.img-grayscale.img-responsive.img-sponsor(src='/images/dsci.png', style='margin: -10px auto;')
            div.col-md-4
              a(href='http://www.myboogieboard.com/')
                img.img-grayscale.img-responsive.img-sponsor(src='/images/boogie-board-logo-r.png', style='margin: -10px auto; margin-top: 15px;')
            div.col-md-4
              a(href='http://www2.kent.edu/library/index.cfm')
                img.img-grayscale.img-responsive.img-sponsor(src='/images/university-library.png', style='margin: -10px auto;')
        div.row(style='margin-top:20px;')
          div.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
            div.col-md-3
              a(href='https://www.codeship.io/')
                img.img-grayscale.img-responsive.img-sponsor(src='/images/codeship.svg', style='margin: -10px auto;')
            div.col-md-3
              a(href='http://lob.com/')
                img.img-grayscale.img-responsive.img-sponsor(src='/images/lob.svg', style='margin: -10px auto; margin-top: 15px;')
            div.col-md-3
              a(href='http://www.jakprints.com')
                img.img-grayscale.img-responsive.img-sponsor(src='/images/jakprints.PNG', style='margin: -10px auto;')
            div.col-md-3
              a(href='http://google.com')
                img.img-grayscale.img-responsive.img-sponsor(src='/images/google.svg', style='margin: -10px auto;')

    div#footer
      div.container
        ul.list-inline.sub-nav
          li
            a(href='#what', onclick='showWhat();return false;') What
          li
            a(href='#when', onclick='showWhen();return false;') When
          li
            a(href='#where', onclick='showWhere();return false;') Where
        p.text-muted.credit © 2014 Hacksu
    div#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      div.modal-dialog
        div.modal-content
          div.modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title Kent Hack Enough Schedule
          div.modal-body
            h4
              strong FRIDAY
            p.lead
              strong 6:00pm
              | - Arrival of hackers
            p.lead
              strong 7:00pm
              | - Introduction of hackathon and sponsors
            p.lead
              strong 7:30pm
              | - Find teams and generate ideas
            p.lead
              strong 8:30pm
              | - Hacking begins & Dinner
            p.lead
              strong 11:00pm
              | - Late Night Snack
            br
            h4
              strong SATURDAY
            p.lead
              strong 7:00am
              | - Breakfast
            p.lead
              strong 1:00pm
              | - Lunch
            p.lead
              strong 7:00pm
              | - Dinner
            p.lead
              strong 12:00am
              | - Midnight Snack
            br
            h4
              strong SUNDAY
            p.lead
              strong 7:00am
              | - Breakfast
            p.lead
              strong 11:00am
              | - End of hacking
            p.lead
              strong 12:00pm
              | - Start of presentations
            p.lead
              strong 2:00pm
              | - Winners announced and goodbye lunch
          div.modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
    div#directionsModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='directionsModalLabel', aria-hidden='true')
      div.modal-dialog
        div.modal-content
          div.modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title Parking information
          div.modal-body
            p.lead
              | Parking for the event is free for the entire weekend. You must park in the lot labeled Visitor Parking located on this&nbsp;
              a(href='/docs/parking-map.pdf', target='_blank') map
              | &nbsp;near the Library.
          div.modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
    div#apisModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='apisModalLabel', aria-hidden='true')
      div.modal-dialog
        div.modal-content
          div.modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title APIs and Services
          div.modal-body
            p Coming soon!
          div.modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
    script(src='/javascripts/jquery-2.0.3.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/main.js')
    script(src='/javascripts/retina-1.1.0.min.js')
    script.
        var _gaq = [
            ['_setAccount', 'UA-35084827-1'],
            ['_trackPageview']
        ];
        (function(d, t) {
            var g = d.createElement(t),
                s = d.getElementsByTagName(t)[0];
            g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g, s)
        }(document, 'script'));
