<!DOCTYPE html>
<html>

<head>
    <title>Hacksu</title>
    <meta charset="utf-8">
    <meta name="description" content="HacKSU is the computer science student organization at Kent State University.">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="/images/favicon-32x32.png" type="image/png">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" media="screen">
    <link rel="stylesheet" href="/stylesheets/main.css" media="screen">
    <link rel="stylesheet" href="/stylesheets/accordian.css" media="screen">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">
    <script src="https://npmcdn.com/react@15.3.0/dist/react-with-addons.js"></script>
    <script src="https://npmcdn.com/react-dom@15.3.0/dist/react-dom.js"></script>
</head>

<body>
    <div id="react"></div>
    <script src="/javascripts/jquery-2.0.3.min.js">
    </script><script src="/javascripts/react/bundle.js">
    </script><script src="/javascripts/bootstrap.min.js"></script>
    
    <script src="/javascripts/retina-1.1.0.min.js"></script><script>var _gaq = [
        ['_setAccount', 'UA-35084827-1'],
        ['_trackPageview']
    ];
    (function(d, t) {
        var g = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s)
    }(document, 'script'));
    </script>
</body>

</html>