/* Sticky footer styles
-------------------------------------------------- */
 html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

div#events {
    position: absolute;
    left: 50vw;
    z-index: 20;
    width: 40vw
}
/* Wrapper for page content to push down footer */
 #wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -100px;
    /* Pad bottom by footer height */
    padding: 0 0 150px;
    font-family: "Open Sans";
}
/* Set the fixed height of the footer here */
 #footer {
    height: 100px;
    background-color: #2f2f2f;
}
/* Custom page CSS
-------------------------------------------------- */

/* Not required for template or sticky footer method. */
 #wrap > .container {
    padding: 5em 15px;
}
.container .credit {
    margin: 20px 0;
}
#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}
code {
    font-size: 80%;
}
.navbar {
    margin-bottom:0px!important;
}
.navbar-default {
    background: #white!important;
    color: #06AAB6!important;
    border: 0px!important;
    border-radius:0px!important;
}
@media (min-width: 768px) {
    .navbar-nav {
        float: right!important;
    }
}
.navbar .navbar-nav>.active>a {
    background-color:rgba(0, 0, 0, 0)!important;
    color:#06AAB6!important;
}
.navbar-default .navbar-nav>li>a {
    color:#06AAB6!important;
}
.navbar-default .navbar-nav>li>a:hover {
    color:#000!important;
}
.navbar-brand {
    height:2.5em;
}
.navbar-brand img{
  height:2em;
  margin-top:-.3em;
}
/* Jumbotron. */
 .jumbotron {
    vertical-align: middle;
    margin-bottom: 0px!important;
    background-size: 100%;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-image: url(/images/header.jpg);
    height: 200px;
    color: white!important;
}
.jumbotron .container {
    padding-top: 0px;
}
.jumbotron .title {
    text-shadow:2px 2px 2px black;
    font-size: 1.4em;
}
.img-info {
    max-width:50%!important;
    margin:auto;
    margin-top: 20px;
}
/* Helper. */
.color-bg {
    background-color: #06AAB6;
    color: white;
    padding:5em;
}
.row {
    margin: 30px inherit;
}
.sub-nav {
    padding-top: 25px;
}
.sub-nav > li > a {
    color: rgba(255, 255, 255, 0.5);
    font-weight:300;
    font-size: 0.9em;
    margin: inherit 15px;
}
.sub-nav > li {
    margin: 0 20px 0 0;
}
.sub-nav > li > a:hover {
    color: white;
    text-decoration:none;
}
.text-muted.credit {
    font-size: 0.8em;
}
.img-grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 10+, Firefox on Android */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    opacity:0.7;
}
.img-grayscale:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
    opacity:1;
}

.card {
    background: #f4f4f4;
    padding: 20px;
    padding-top: 5px;
    color: black;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    transition: all 250ms;
    -moz-transition: all 250ms;
    -webkit-transition: all 250ms;
    opacity: 1;
}

.card:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -webkit-transform: translateY(-5px);
    moz-transform: translateY(-5px);
    transform: translateY(-5px);
}

.event {

}

.event h3 {
    margin-top: 0px;
}

.event .title-bar .date {
    position: relative;
    float: right;
}

.event .title-bar .event-title {
    position: relative;
    float: left;
}

.event .title-bar {
    position: relative;
    width: inherit;
    height: 24px;
}

/* Extra small devices (phones, up to 480px) */

/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
 @media (min-width: 768px) {
    .img-info {
        max-width:300px!important;
        margin:0 auto;
    }
    .jumbotron {
        height: 400px;
    }
    .jumbotron .title {
        font-size:3em;
    }
    .jumbotron .container {
        padding-top: 75px;
    }
}
/* Medium devices (desktops, 992px and up) */
 @media (min-width: @screen-md) {
    ...
}
/* Large devices (large desktops, 1200px and up) */
 @media (min-width: @screen-lg) {
    ...
}
