/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
    
}

ul{
  margin: 0;
  padding: 0;
}

html{
  background-color: #000000;
  width: 100%;
  height:100%;
}

body {
    width: 100%;
    font-size: 1em;
    line-height: 1.4;
    margin: 0 auto 0 auto;
    height: 100%;
}

#container{
  min-height:100%;
  position: relative;
  background-color: #fbffec;
}

#spacer{
  height:100px;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1, p, h2, a, span, li, div, h3 {
	font-family: 'Actor', sans-serif;
	font-weight: 100;
	font-style:	normal;
	margin: 0;
	padding: 0;
}

h1{
	font-size: 3.5em;
}

h2{
	font-size: 2em;
}

h3{
	font-size: 1.3em;
	font-family: 'Actor', sans-serif;
}

h4{
	font-size: 1.5em;
  margin: 20px 0 0 0;
}

.container{
  width: 940px;
  margin: 0 auto;
}

/* Header style */
header{
	height: 170px;
	display: block;
  position: relative;
  border-bottom: thin solid #3d3d3d;
}

#social{
  padding-top: 10px;
  padding-bottom: 10px;
  height: 25px;
  background-color: #feffd4;
}

#social li{
  display: inline;
  margin: 0 10px 0 0;
}

#social ul{
  list-style-type: none;
}

#main-menu{
  position: absolute;
  text-align: right;
  top: 50%;
  margin-top: 10px;
  width: 940px;
}

#main-menu li{
  display: inline;
}

#main-menu a{
  text-decoration: none;
  color: #fbffec;
  margin: 0 0 0 30px;
  font-size: 0.9em;
}

#main-menu a:hover{
  color: #8da9b4; 
}

#logo{
  background-color: #285363;
  height: 125px;
  color: #fbffec;
}

#logo h1{
  padding-top: 30px;
  font-size: 2em;
  font-family: 'Lobster', cursive;
  text-shadow: 1px 1px #000000;
  color: #fbffec;
}

#logo p{
  font-size: 0.8em;
  color: #8da9b4;
}
/* Banner content style */

#content-banner{
  /*background: url(../img/rough_diagonal.png);
  background-size: 150px 150px;*/
  background-color: #5d8b9c;
  height: 350px;
  text-align: center;
  border-bottom: thin solid #3d3d3d;
  padding: 20px 0;
}

#content-banner #image{
  height: 350px;
  background: url(../img/image1.jpg) no-repeat center -100px;
  background-size: 100% auto;
}

/* Main content style */

#content-3col{
  padding-top: 40px;
	width: 100%;
	margin: 0 0 0 0;
	min-height: 300px;
	overflow: auto;
	word-wrap: break-word;
}

#content-1col{
  margin: 0 0 80px 0;
}

.column{
  float: left;
  width: 300px;
  margin: 0 5px;
}

.column p{
  font-size: 0.8em;
  margin: 10px 0 0 0;
}

.column a{
  font-size: 0.8em;
}

.column .title{
  width: 100%;
  background-color: #5d8b9c;
  background-size: 50px 50px;
}

.column .title p{
  font-size: 1.7em;
  padding: 10px 5px 5px 20px;
  font-family: 'Lobster';
  color: #feffd4;
  text-shadow: 1px 1px #433830;
}

/* Style for links and buttons. */
a.none{
	text-decoration: none;
}

a.nav{
	color: #8fac2a;
	font-size: 2em;
	text-decoration: none;
	opacity: .7;
}

a.nav:hover{
	opacity: 1;
}

a.basic{
	color: white;
	text-decoration: none;
	opacity: 0.5;
}

a.basic:hover{
	opacity: 1;
}

a.normal{
	text-decoration: none;
	color: #285363;
}

a.normal:hover{
	text-decoration: underline;
}

a.button1{
	text-decoration: none;
	color: white;
	background-color: #5d8b9c;
	padding: 8px 15px 6px 15px;
	font-size: 0.8em;
  color: white;
  text-shadow: 1px 1px #433830;
  box-shadow: 4px 4px 0px #433830;  
}

a.button1:hover{
  box-shadow: 8px 8px 0px #433830;
}

/* Style for footer. */
footer{
  height: 100px;
	background-color: #212121;
	width: 100%;
	color: rgb(100,100,100);
	padding: 20px 0 0 0;
  position: absolute;
  bottom: 0;
}

footer a{
  margin: 0 30px 0 0;
  color: white;
}

footer p{
  margin: 40px 0 0 0;
	font-size: 0.5em;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

img.sponsor{
	max-width: 120px;
	max-height: 120px;
	margin: 10px 30px 10px 30px;
}

.text_center{
	text-align: center;
}

/*
 * A cool format to display the date.
 */

.cool-date{
	text-align: center;
	background: #2f2f2f;
	color: white;
	float:left;
  width: 60px;
  padding: 5px;
	margin: 0 10px 0 0;
}

.left-indent{
  margin-left: 20px;
}


/*
 * Greyscale images.
 */
.greyscale{
 	filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Google Chrome Canary */
}

/*
 * Rounded corners
 */
 
.rounded-corners{
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}


/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
