/* Sticky footer styles
-------------------------------------------------- */
 html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
 #wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}
/* Set the fixed height of the footer here */
 #footer {
    height: 60px;
    background-color: #2f2f2f;
}
/* Custom page CSS
-------------------------------------------------- */

/* Not required for template or sticky footer method. */
 #wrap > .container {
    padding: 60px 15px 0;
}
.container .credit {
    margin: 20px 0;
}
#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}
code {
    font-size: 80%;
}
/* Social header at the top of the page. */
 #social-header {
    background: white;
    height: 25px;
    margin: 5px 0;
}

#social-header .social-item {
    margin: 0px 10px 0px 10px;
}

.navbar {
    margin-bottom:0px!important;
}

.navbar-default {
    background: #2ab573!important;
    border: 0px!important;
    border-radius:0px!important;
}

@media (min-width: 768px) {
    .navbar-nav {
        float: right!important;
    }
}

.navbar .navbar-nav>.active>a {
    background-color:rgba(0,0,0,0)!important;
    color:white!important;
}

.navbar-default .navbar-nav>li>a {
    color:rgba(255,255,255,0.8)!important;
}

.navbar-default .navbar-nav>li>a:hover {
    color:white!important;
}

.navbar-brand {
    font-family:'Lobster Two', cursive;
    color: white!important;
    font-size:2em!important;
}

/* Jumbotron. */

.jumbotron {
	vertical-align: middle;
    margin-bottom: 0px!important;
	background-size: 100%;
	background-position: 50% 30%;
	background-repeat: no-repeat;
    background-image: url(../img/image1.jpg);
    height: 400px;
    color: white!important;
}

.jumbotron .container {
    padding-top: 75px;
}

.jumbotron h1 {
    text-shadow:2px 2px 2px black;
}

/* Page content. */



