{% extends "base_content.html" %}

{% block title %}hacKSU - apps{% endblock %}

{% block breadcrumb %} <a href="/apps" class="current">apps</a>{% endblock %}

{% block content %} <!-- Header -->
        
        <!-- Header -->
        <header>
        	<h1 style="text-align:left;margin-left:50px;font-size:10em;">apps.</h1>
        </header>
        
        <!-- Content -->
        <div id="content_clean">
        	<!-- PHP will grab all the news articles from the database.
        	<?php 
        		// Go through each row of the news table.
        		foreach ($dbh->query($projects) as $row)
        		{        			
        			//Print title.
        			echo '<h2 id="post'.$row['id'].'">'.$row['title'].'</h2>';
        			
        			// Print the description.
        			echo '<p>'.$row['description'].'</p><br>';
        			       			        			
        			// Print the relevant links.
        			echo '<p>Relevant Links:</p>';
        			echo '<ul>';       			
        			
        			// Decode the stored json to access the elements
        			$links = json_decode($row['links'])->links;
        			        			
        			foreach($links as $value){
        				echo '<li><a class="normal" href="'.$value->link.'">'.$value->name.'</a></li>';
        			}
        			echo '</ul>';
        			
        			echo '<br><br>';
        		}     		
        	?> -->
        </div>
                
{% endblock %}
