{% extends "base_content.html" %}

{% block title %}Apps by hacKSU{% endblock %}

{% block content %} <!-- Header -->

        <!-- Content -->
        <div class="container" style="padding: 30px 0 0 0;">
                {% for app in apps %}
                        <h2 id="post{{app.id}}">{{app.title}}</h2>
                        <p>{{app.description}}</p><br>
                        <div class="left-indent">
                                {% if app.links %}
                                        <p>Relevant Links:</p>
                                        <ul>
                                                {% for link in app.links.all %}
                                                        <li><a class="normal" href="{{link.url}}">{{link.title}}</a></li>
                                                {% endfor %}
                                        </ul>
                                        <br><br>
                                {% endif %}
                        </div>
                {% endfor %}
        </div>
{% endblock %}
