{% extends "base_content.html" %}

{% block title %}{{app.title}}{% endblock %}

{% block content %}

<!-- Content -->
<div class="container" style="padding: 30px 0 0 0;">
        <h2 id="post{{app.id}}">{{app.title}}</h2>
        <hr>
	<p>
		{{app.description}}
	</p>
        <br>
        <div class="left-indent">
	{% if app.links %}
	<p>
		Relevant Links:
	</p>
	<ul>
		{% for link in app.links.all %}
		<li>
			<a class="normal" href="{{link.url}}">{{link.title}}</a>
		</li>
		{% endfor %}
	</ul>
	<br>
	<br>
        {% endif %}
        </div>
</div>
{% endblock %}
