<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>hacKSU</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/fonts.css" />
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.1.min.js"></script>

    </head>
    <body>
      
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        
        <!-- Breadcrumb -->
        <div id="breadcrumb">
        	<a href="index.php" class="past">home</a><p> > </p><a href="contact.php" class="current">contact</a>
        </div>
        
        <!-- Header -->
        <header>
        	<h1 style="text-align:left;margin-left:50px;font-size:10em;">contact.</h1>
        </header>
        
        <!-- Conent -->
        <div id="content_clean">
        	<h2>Questions or concerns?</h2>
			<p>Just email us at <a href="mailto:hacKSU@cs.kent.edu" class="normal">hacKSU@cs.kent.edu</a></p><br>
			<br><br>
			<h2>Social media.</h2>
			<p><a href="https://www.facebook.com/groups/414549295277975/" class="normal">Facebook</a></p><br>
			<p><a href="https://twitter.com/hacKSU1" class="normal">Twitter</a></p><br>
			<p><a href="https://plus.google.com/100316329407631422164/" class="normal">Google+</a></p><br>
			<br><br>
			<h2>Kent State CS Department</h2>
			<p>Check out the Kent State University Computer Science Department <a href="http://www.cs.kent.edu" class="normal">here.</a></p><br>
        </div>
                
        <!-- Include the footer html 
        <?php include('include/footer.php'); ?> -->
    </body>
</html>
