{% extends "base_content.html" %}

{% block title %}hacKSU - contact{% endblock %}

{% block breadcrumb %} <a href="/contact" class="current">contact</a>{% endblock %}

{% block content %} <!-- Header -->
        
        <!-- Header -->
        <header>
        	<h1 style="text-align:left;margin-left:50px;font-size:10em;">contact.</h1>
        </header>
        
        <!-- Conent -->
        <div id="content_clean">
        	<h2>Questions or concerns?</h2>
			<p>Just email us at <a href="mailto:hacKSU@cs.kent.edu" class="normal">hacKSU@cs.kent.edu</a></p><br>
			<br><br>
			<h2>Social media.</h2>
			<p><a href="https://www.facebook.com/groups/414549295277975/" class="normal">Facebook</a></p><br>
			<p><a href="https://twitter.com/hacKSU1" class="normal">Twitter</a></p><br>
			<p><a href="https://plus.google.com/100316329407631422164/" class="normal">Google+</a></p><br>
			<br><br>
			<h2>Kent State CS Department</h2>
			<p>Check out the Kent State University Computer Science Department <a href="http://www.cs.kent.edu" class="normal">here.</a></p><br>
        </div>
                
{% endblock %}