{% extends "base.html" %} {% block title %}hacKSU - Contact{% endblock %} {% block page_content %}
<!-- Header -->
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>Contact Us
                
            </h1>
            <br>
            <p class="lead">Send us an email at
                <a href="mailto:hacksu@cs.kent.edu">hacksu@cs.kent.edu</a>
            </p>
            <p class="lead">Join our group on
                <a href="http://facebook.com/groups/hacksu">Facebook</a>
            </p>
            <p class="lead">Follow us on
                <a href="http://twitter.com/_hacksu">Twitter</a>
            </p>
            <p class="lead">Check out our projects on
                <a href="https://github.com/hacksu">GitHub</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="text-align:center;color:#b9b9b9;">
            <h3 style="font-weight:300;">We want to hear what you think!</h3>
        </div>
    </div>
</div>{% endblock %}