{% extends "base_content.html" %}

{% block title %}Hackathon 2012 Fall{% endblock %}

{% block content %} <!-- Header -->

<!-- Single column content -->

<div id="content-1col" style="margin-top:40px">
  <div class="container">
    <div class="title"><h2>Hackathon Fall 2012</h2></div>
    <p>(n.) an event in which computer programmers and others in the field of software development, like graphic designers, interface designers, project managers and computational philologists, collaborate intensively on software projects.</p>
    <hr>
    <p>We hosted our first ever hackathon on November the 17th in the Library (3rd Floor) of the Mathematical and Computer Science Building at Kent State University. We had a wide range of sponsors helping us put on the event which can be viewed at the bottom of the page. This hackathon involved many students from the University studying all kinds of majors! Feel free to email <a class="normal" href="mailto:hacksu@cs.kent.edu">hacKSU@cs.kent.edu</a> if you have any questions about the hackathon.</p>
    <br><br>
    <p>All our fellow hackers showed great enthusiam throughout the 12 hour competition. We yelled, we cheered, we cried, we tried, we succeeded. Hacking like it should be. Learning, laughing, loving it. And leading our teams to the gold. Interdisciplinary teams. From Computer Science to Information Systems to Physics to Psychology to Design and Advertising. Project managers, style slingers, and backend builders all culminated in phenomenal projects.</p>
    <br><br>
    <h3>Crazy Cool Projects</h3>
    <strong>Spazacat</strong>
    <br>
    <p>Does your cat love to chase a laser pointer? Do you love to make your cat chase a laser pointer? This team constructed a way to remotely control a laser pointer through the web using Node.js and an Arduino. Then in combination with a live streaming video feed one would be able to play with their cat away from home just by using their phone!</p>
    <br><br>
    <strong>Loop</strong>
    <br>
    <p>Allows a user to seamlessly share their contact information with another user by simply “bumping” mobile devices. After “bumping”, the app will then add the new connection to your loop, allowing you to easily access their information at any time. Loop uses the device motion sensor to recognize the bump and geolocation to match users based on position and time. Loop was built using node.js, socket.io, Django, jQuery Mobile and JavaScript.</p>
    <br><br>
    <strong>Beer Buddy</strong>
    <br>
    <p>The idea behind this project is to have users submit beer prices through an app in return for incentives like badges and experience. With the help of these prices it would offer a catalog for prices between different locations that sell beer.</p>
  </div>
</div>
{% endblock %}
