{% extends "base_content.html" %}

{% block title %}Kent Hack Enough 2013{% endblock %}

{% block content %} <!-- Header -->

<div id="content-1col" style="margin-top:40px">
  <div class="container">
    <h1 style="text-align:center">Kent Hack Enough 2013</h1>
    <h4>Ohio's largest hackathon is back and is ready to make an ever bigger bang! This Fall Semester Hacksu will be hosting their annual hackathon from October 18th to the 20th. We have a surprise in store for everyone. No longer will hackers be stuck in the narrow and crammed halls of the Math Building. This year the hackathon will be taking place in the Kent State University Library!</h4>
    <br>
    <h2><strong>Registration</strong></h2>
    <p>All you have to do is visit our <a href="http://hacksu.eventbrite.com">Eventbrite page</a> and sign up! There is only a limited number of spots so make sure you sign up soon!</p>
    <h2><strong>Location</strong></h2>
    <p>Kent State University Library</p>
    <p>1125 Risman Drive</p>
    <p>Kent OH, 44242</p>
    <h2><strong>Schedule</strong></h2>
    <h3>Friday</h3>
    <p><strong>6pm</strong> Arrival and registration of hackers</p>
    <p><strong>8pm</strong> Introduction of sponsors and hackathon details</p>
    <p><strong>9pm</strong> Hacking begins</p>
    <p><strong>12am</strong> Midnight snack</p>
    <h3>Saturday</h3>
    <p><strong>7am</strong> Breakfast </p>
    <p><strong>1pm</strong> Lunch</p>
    <p><strong>6pm</strong> Dinner</p>
    <p><strong>12am</strong> Midnight snack</p>
    <h3>Sunday</h3>
    <p><strong>7am</strong> Breakfast</p>
    <p><strong>11am</strong> End of hacking</p>
    <p><strong>12pm</strong> Start of presentations</p>
    <p><strong>2pm</strong> Winners chosesn and lunch
    <h2><strong>Have any questions for us?</strong></h2>
    <p>Send us an email at <a class="normal" href=mailto:hacksu@cs.kent.edu">hacksu@cs.kent.edu</a></p>
    <br>
    </div>
</div>
{% endblock %}


