{% extends "base_content.html" %}

{% block title %}Kent Hack Enough 2013{% endblock %}

{% block content %} <!-- Header -->

<div id="content-1col" style="margin-top:40px">
  <div class="container">
    <h1 style="text-align:center">Kent Hack Enough 2013</h1>
    <h4>Northeast Ohio's favorite hackathon is back and is ready to make an ever bigger bang! This Fall Semester hacKSU will be hosting their annual hackathon from October 18th to the 21st. We have a surprise in store for everyone. No longer will hackers be stuck in the narrow and crammed halls of the Math Building. This year the hackathon will be taking place in the Kent State University Library!</h4>
    <br>
    <h3><strong>Registration</strong></h3>
    <p>Registration information will be available very shortly, stay tuned!</p>
    <br><br>
    <h3><strong>Have any questions for us?</strong></h3>
    <p>Send us an email at <a class="normal" href=mailto:hacksu@cs.kent.edu">hacksu@cs.kent.edu</a></p>
    <br>
    </div>
</div>
{% endblock %}


