{% extends "base.html" %}

{% block title %}hacksu - Learn. Dream. Create.{% endblock %}

{% block page_content %}
<!-- Jumbotron for marketing message. -->
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="title">Learn</h1>
        <h1 class="title">Dream</h1>
        <h1 class="title">Create</h1>
    </div>
</div>
<!-- Begin page content -->
<div class="container">
    <div class="row" id="about-info">
        <div class="col-md-4">
            <img src="{{STATIC_URL}}img/kentstate.jpg" alt="Kent State" class="img-circle img-responsive img-info">
        </div>
        <div class="col-md-7 col-md-offset-1">
            <h2>Who are we?</h2>
            <p class="lead">
                <span class="lobster">hacksu</span>&nbsp;is a student organization at Kent State University focused on learning and utilizing contemporary web and mobile technologies. We are a very diverse community, spanning multiple majors and are open to students of any skill level. Everyone has something to learn!</p>
        </div>
    </div>
</div>
<div class="color-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2>What do we teach?</h2>
                <p class="lead">We teach a wide variety of technologies such as jQuery Mobile, Python, Django, Ruby, Rails, Node.js, Android, iOS, Heroku, Google App Engine and much more. All of this is in hopes that you fall in love with one or many of these technologies and construct something cool.</p>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <img src="{{STATIC_URL}}img/kentstate.jpg" alt="Kent State" class="img-circle img-responsive img-info">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="{{STATIC_URL}}img/mathbuilding.jpg" alt="Kent State" class="img-circle img-responsive img-info">
        </div>
        <div class="col-md-7 col-md-offset-1">
            <h2>How do I get involved?</h2>
            <p class="lead">We recommend coming to our weekly meetings, held during the semester, in the Math and Computer Science building at 7:00pm. You can also join our Facebook page and follow us on Twitter to see what we are up to!</p>
        </div>
    </div>
</div>

{% endblock %}