<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>hacKSU</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/fonts.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
        <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.1.min.js"></script>
        
    </head>
    <body>
    
    	<!-- Facebook -->
    	<div id="fb-root"></div>
		<script>
		  window.fbAsyncInit = function() {
		    // init the FB JS SDK
		    FB.init({
		      appId      : '437941556240886', // App ID from the App Dashboard
		      channelUrl : 'channel.html', // Channel File for x-domain communication
		      status     : true, // check the login status upon init?
		      cookie     : true, // set sessions cookies to allow your server to access the session?
		      xfbml      : true  // parse XFBML tags on this page?
		    });
		
		    // Additional initialization code such as adding Event Listeners goes here
		    //initializeFeed();		
		  };
		
		  // Load the SDK's source Asynchronously
		  (function(d){
		     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
		     if (d.getElementById(id)) {return;}
		     js = d.createElement('script'); js.id = id; js.async = true;
		     js.src = "http://connect.facebook.net/en_US/all.js";
		     ref.parentNode.insertBefore(js, ref);
		   }(document));
		</script>
    
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
                
        <!-- Header -->
        <header>
        	<div id="title">
        		<h1>hacKSU</h1>
        		<p>let the hacking begin.</p>
        		<img id="logo" src="{{ STATIC_URL }}img/logo.png"/>        		
        	</div>        	
        	<div id="right_nav">
        		<a class="nav" href="/learn">about</a><br>
        		<a class="nav" href="/contact">contact us</a><br>
        		<a class="nav" href="/leaders">leaders</a><br>
        		<a class="nav" href="/news">news</a>        		
        	</div>
        </header>
        
        <!-- Picture Content -->
        
        <div id="content_picture">
        	<div id="banner">
        		<p>Become a part of our team.</p><a class="button1 rounded_corners" href="/learn">LEARN MORE</a>
        	</div>
        </div>
        
        <!-- Actual Content -->
        <div id="content_main">
        	<div id="news">
        		<p class="background_text">news.</p>
        		<!-- PHP will grab all the news articles from the database.
        		<?php 
        			// Go through each row of the news table.
        			foreach ($dbh->query($news) as $row)
        			{
        				echo '<div class="post">';	
        				        				
        				// Parse the date.
        				$date = date_parse($row['created_at']);
        				
        				echo '<div class="cool_date rounded_corners">'.date('M', strtotime($date['month'] . '01')).'<br><h3>'.$date['day'].'</h3></div>';
        				
        				echo '<h4><a class="normal" style="color:black;" href="news.php#post'.$row['id'].'">'.$row['title'].'</a></h4>';
        				
        				echo '</div>';
        			}
        		?> -->
        	</div>
        	<div id="feed">
        		<p class="background_text">feed.</p>
        		<div class="post">
        			<a class="summary none"></a>
        			<p class="date"></p>	        		
        		</div>
        		<div class="post">
        			<a class="summary none"></a>
        			<p class="date"></p>	        		
        		</div>
        		<div class="post">
        			<a class="summary none"></a>
        			<p class="date"></p>	        		
        		</div>
        	</div>
        	<div id="apps">
        		<p class="background_text">apps.</p>
        		<div class="post">
        			<!-- PHP will grab all the news articles from the database. 
	        		<?php 
	        			// Go through each row of the news table.
	        			foreach ($dbh->query($projects) as $row)
	        			{
	        				echo '<a href="projects.php#post'.$row['id'].'" class="title normal">'.$row['title'].'</a>';	        				
	        				echo '<p class="summary">'.$row['description'].'</p>';
	        				echo '<br>';
	        			}      		
	        		?> -->
          		</div>
        	</div>
        </div>
        
        <!-- Include the footer html 
        <?php include('include/footer.php'); ?> -->
        
    </body>
</html>
