{% extends "base.html" %}

{% block title %}hacKSU{% endblock %}

{% block body %}

<!-- Facebook -->
<div id="fb-root"></div>
<script>
	window.fbAsyncInit = function() {
		// init the FB JS SDK
		FB.init({
			appId : '437941556240886', // App ID from the App Dashboard
			channelUrl : 'channel.html', // Channel File for x-domain communication
			status : true, // check the login status upon init?
			cookie : true, // set sessions cookies to allow your server to access the session?
			xfbml : true // parse XFBML tags on this page?
		});

		// Additional initialization code such as adding Event Listeners goes here
		//initializeFeed();
	};

	// Load the SDK's source Asynchronously
	( function(d) {
			var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
			if (d.getElementById(id)) {
				return;
			}
			js = d.createElement('script');
			js.id = id;
			js.async = true;
			js.src = "http://connect.facebook.net/en_US/all.js";
			ref.parentNode.insertBefore(js, ref);
		}(document)); 
</script>

<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->

<!-- Header -->
<header>
        <div id="social">
                <div class="container">
                        <ul>
                                <li><a href="https://www.facebook.com/groups/hacksu/"><img src="{{STATIC_URL}}img/facebook.png"/></a></li>
                                <li><a href="https://twitter.com/hacKSU1"><img src="{{STATIC_URL}}img/twitter.png"/></a></li>
                                <li><a href="https://github.com/organizations/hacKSU"><img src="{{STATIC_URL}}img/github.png"/></a></li>
                        </ul>
                </div>
        </div>
        <div id="logo">
                <div class="container">
	        	<h1>hacKSU</h1>
                        <p>Hackers that keep it real.</p>
                        <nav id="main-menu">
                <ul>
                        <li><a href="/learn">About</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                        <li><a href="/leaders">Leaders</a></li>
                        <li><a href="/news">News</a></li>
                </ul>
	</nav>
                </div>
	</div>
</header>

<!-- Baner -->

<div id="content-banner">
        <div class="container">
                <div id="image">
                </div>
        </div>
</div>

<!-- 3 Column Content -->
<div id="content-3col">
        <div class="container">

                <div class="column">
                        <div class="title">
                                <img src="{{STATIC_URL}}img/book.png"/>
                                <p>Learn, Hack, and Build Together</p>
                        </div>
                        <p>Nam non massa et eros tristique consequat. Proin eu imperdiet tellus. Nullam viverra lorem vulputate enim scelerisque volutpat. Aenean imperdiet odio in enim vehicula tincidunt. Phasellus eu laoreet lorem. Morbi in mauris lectus, sit amet vestibulum nisi. Nullam euismod mattis lacinia.</p>
                        <a class="normal" href="/learn">more info</a>                
                </div>
                <div class="column">
                        <div class="title">
                                <img src="{{STATIC_URL}}img/light.png"/>
                                <p>Bring Your Amazing Idea to Life</p>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu nibh egestas orci tempor eleifend eu ut elit. Donec urna nibh, congue sit amet tristique id, ullamcorper eu odio. In ut nulla sed urna bibendum congue. Aliquam dictum risus mi, et euismod nulla. In tempor blandit egestas. Praesent non justo nunc. Nam sem est, condimentum sed fermentum ut, mattis ac enim. Ut eleifend dignissim congue. Morbi non nunc augue.</p>
                        <a class="normal" href="#">more info</a>
                </div>
                <div class="column">
                        <div class="title">
                                <img src="{{STATIC_URL}}img/bubble.png"/>
                                <p>This A Temporary Title to Display Anything</p>
                        </div>
                        <p>Fusce euismod augue est. Ut et ante quis lacus hendrerit tempor in a purus. In tortor lectus, semper eu auctor nec, feugiat sed nunc. Phasellus suscipit velit id tellus vestibulum ornare.</p>
                        <a class="normal" href="#">more info</a>		
                </div>
        </div>
</div>

<!-- Single column content -->

<div id="content-1col">
        <div class="container">
                <div class="title"><h2>News</h2>
                </div>
                <hr>
                {% for news in news_list %}
                <div>
                        <div class="cool-date">
                                <p>{{news.date|date:"M"}} {{news.date|date:"d"}}</p>
                        </div>
                        <h4><a class="normal" style="color:black;" href="news/{{news.id}}">{{news.title}}</a></h4>
                </div>
                {% endfor %}
        </div>
</div>

<div id="content-1col">
        <div class="container">
                <div class="title"><h2>Projects</h2>
                </div>
                <hr>
                {% for app in apps %}
                <div>
                        <a href="apps/{{ app.id }}" class="normal"><h4>{{ app.title }}</h4></a>
                        <p class="summary">
                                {{ app.description }}
                        </p>
                </div>
                {% endfor %}
        </div>
</div>                

{% endblock %}
