{% extends "base.html" %}

{% block title %}hacKSU - Hackers that keep it real.{% endblock %}

{% block body %}

<!-- Banner -->

<div id="content-banner">
        <div class="container">
                <div id="image">
                </div>
        </div>
</div>

<!-- 3 Column Content -->
<div id="content-3col">
        <div class="container">

                <div class="column">
                        <div class="title">
                                <p>Learn</p>
                        </div>
                        <p class="justified">hacKSU is a community of hackers and college-kid super users. Our focus is educating and building the foundation for strong use of contemporary technologies. Biweekly, we embark on new technologies, ranging from CSS3 to Django to Raspberry Pi, through seminar-style presentations and 5-hour "Hack Day" intensive sessions.</p>
                        <a class="normal" href="/learn">more info</a>                
                </div>
                <div class="column">
                        <div class="title">
                                <p>Build</p>
                        </div>
                        <p class="justified">What do we do with all the cool things we learn? We build. Quick, interesting apps that are fun to use. Elaborate, database-backed sites ready for heavy traffic. And anything and everything in between. With the diverse backgrounds our members bring, projects get divided and conquered with ease - all in a fun, relaxed environment.</p>
                        <a class="normal" href="#">more info</a>
                </div>
                <div class="column">
                        <div class="title">
                                <p>Connect</p>
                        </div>
                        <p class="justified">At hacKSU, we value the entrepreneurial spirit, and we are always looking to work with other organizations and individuals on projects of any shape or size. Our members' skill sets are broad and ready to tackle challenges. Collaboration comes in many forms and all are welcome.</p>
                        <a class="normal" href="#">more info</a>		
                </div>
        </div>
</div>

<!-- Single column content -->

<div id="content-1col">
        <div class="container">
                <a href="/news/" class="normal"><h2>News</h2></a>
                <hr>
                {% for news in news_list %}
                <div>
                        <div class="cool-date">
                                <p>{{news.date|date:"M"}} {{news.date|date:"d"}}</p>
                        </div>
                        <h4><a class="normal" style="color:black;" href="news/{{news.id}}">{{news.title}}</a></h4>
                </div>
                {% endfor %}
        </div>
</div>

<div id="content-1col">
        <div class="container">
                <a href="/apps/" class="normal"><h2><h2>Apps</h2></a>
                <hr>
                {% for app in apps %}
                <div>
                        <a href="apps/{{ app.id }}" class="normal"><h4>{{ app.title }}</h4></a>
                        <p class="summary">
                                {{ app.description }}
                        </p>
                </div>
                {% endfor %}
        </div>
</div>                

{% endblock %}
