<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>hacKSU</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/fonts.css" />
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.1.min.js"></script>
        <!-- Include the neccessary php files. -->
        <?php include "db/connection.php";?>
    </head>
    <body>
      
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        
        <!-- Breadcrumb -->
        <div id="breadcrumb">
        	<a href="index.php" class="past">home</a><p> > </p><a href="leaders.php" class="current">leaders</a>
        </div>
        
        <!-- Header -->
        <header>
        	<h1 style="text-align:left;margin-left:50px;font-size:10em;">leaders.</h1>
        </header>
        
        <!-- Conent -->
        <div id="content_clean">
        	
            <h2>Daniel Gur</h2>
		    <p><a class="normal" href="http://www.danielgur.com">Website</a></p>
		    <p><a class="normal" href="mailto:dgur@kent.edu">Email</a></p>
            <p>I was born and raised in South Africa. I'm a junior majoring in CS and Applied Math. I am currently working for KentWired doing mobile development.</p>
             <br><br>
        	 <h2>David "Dàwèi" Steinberg</h2>
		      <p><a class="normal" href="http://davidasteinberg.com">Website</a></p>
        	 <p><a class="normal" href="mailto:dsteinb3@kent.edu">Email</a></p>
        	 <p>I am majoring in Computer Science and Electronic Media Production and minoring (completely unofficially) in Obsession with Languages. I am currently a tutor and researcher, and I look forward to a career in Academia.</p>
        	 <br><br> <h2>Camden Fullmer</h2>
             <p><a class="normal" href="http://www.camdenfullmer.com">Website</a></p>
        	 <p><a class="normal" href="mailto:cfullmer@kent.edu">Email</a></p>
        	 <p>I am currently in my 3rd year at Kent State University studying Computer Science and Applied Mathematics. Presently I have an intern software engineer position at Kent Displays Inc. where I design mobile applications.</p>
        	 <br><br>
        </div>
                
        <!-- Include the footer html 
        <?php include('include/footer.php'); ?> -->
    </body>
</html>
