{% extends "base_content.html" %}

{% block title %}hacKSU - learn more{% endblock %}

{% block breadcrumb %} <a href="/learn" class="current">learn more</a>{% endblock %}

{% block content %} <!-- Header -->

        <header>
        	<h1 style="text-align:left;margin-left:50px;font-size:10em;">hacKSU.</h1>
        </header>
        
        <!-- Conent -->
        <div id="content_clean">
        	<h2>So, what is hacKSU all about?</h2>
			<p>Welcome to hacKSU. We are a student organization based on learning and utilizing contemporary technology used in industry, focusing on web and mobile development. We do not do problem sets, we build great hacks. We are a very diverse community, spanning multiple majors. Even beginners into the field are welcome at our meetings.</p><br><br>
			<h2>What will I learn?</h2>
			<p>We learn a wide variety of technologies such as jQuery Mobile, Python, Django, Ruby, Rails, Node.js, Android, iOS, Sencha Touch, Heroku, Google App Engine, Protocol Buffers and much more. All of this is in hopes that you fall in love with one or many of these technologies and construct something cool. Then we hope you come and present it back to the group for everyone to see what you have done.</p><br><br>
			<h2>When/where does this happen?</h2>
			<p>Our weekly meetings are held at 7pm on Thursdays at the Mathematics and Computer Science Building (3rd Floor Library). There is usually pizza and drinks during every meeting that everyone is welcome to.</p><br><br>
			<h2>I have some questions, who can I contact?</h2>
			<p>Feel free to email <a href="mailto:hacKSU@cs.kent.edu" class="normal">hacKSU@cs.kent.edu</a> with any questions or comments. You can also leave us a question or comment at our <a href="https://www.facebook.com/groups/414549295277975/"  class="normal">Facebook group</a> page.</p><br><br>
			<h2>Hack a nice day! :)</h2><br>
        </div>
        <div style="text-align:center;margin-bottom:90px">
        	<a href="https://docs.google.com/spreadsheet/viewform?formkey=dC05TEwxLVc5eG1UeW4xMTN2ZVBaQ2c6MQ#gid=0" style="font-size:1.5em;" class="button1 rounded_corners">Join now</a>
        </div>

{% endblock %}
