<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>hacKSU</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/fonts.css" />
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.1.min.js"></script>
    </head>
    <body>
      
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        
        <!-- Breadcrumb -->
        <div id="breadcrumb">
        	<a href="index.php" class="past">home</a><p> > </p><a href="learn.php" class="current">learn more</a>
        </div>
        
        <!-- Header -->
        <header>
        	<h1 style="text-align:left;margin-left:50px;font-size:10em;">hacKSU.</h1>
        </header>
        
        <!-- Conent -->
        <div id="content_clean">
        	<h2>So, what is hacKSU all about?</h2>
			<p>Welcome to hacKSU. We are a student organization based on learning and utilizing contemporary technology used in industry, focusing on web and mobile development. We do not do problem sets, we build great hacks. We are a very diverse community, spanning multiple majors. Even beginners into the field are welcome at our meetings.</p><br><br>
			<h2>What will I learn?</h2>
			<p>We learn a wide variety of technologies such as jQuery Mobile, Python, Django, Ruby, Rails, Node.js, Android, iOS, Sencha Touch, Heroku, Google App Engine, Protocol Buffers and much more. All of this is in hopes that you fall in love with one or many of these technologies and construct something cool. Then we hope you come and present it back to the group for everyone to see what you have done.</p><br><br>
			<h2>When/where does this happen?</h2>
			<p>Our weekly meetings are held at 7pm on Thursdays at the Mathematics and Computer Science Building (3rd Floor Library). There is usually pizza and drinks during every meeting that everyone is welcome to.</p><br><br>
			<h2>I have some questions, who can I contact?</h2>
			<p>Feel free to email <a href="mailto:hacKSU@cs.kent.edu" class="normal">hacKSU@cs.kent.edu</a> with any questions or comments. You can also leave us a question or comment at our <a href="https://www.facebook.com/groups/414549295277975/"  class="normal">Facebook group</a> page.</p><br><br>
			<h2>Hack a nice day! :)</h2><br>
        </div>
        <div style="text-align:center;margin-bottom:90px">
        	<a href="http://hacksu.cs.kent.edu/join/" style="font-size:1.5em;" class="button1 rounded_corners">Join now</a>
        </div>
                
        <!-- Include the footer html 
        <?php include('include/footer.php'); ?> -->
    </body>
</html>
