{% extends "base_content.html" %}

{% block title %}hacKSU - news{% endblock %}

{% block breadcrumb %} <a href="/news" class="current">news.</a>{% endblock %}

{% block content %} <!-- Header -->        

        <header>
        	<h1 style="text-align:left;margin-left:50px;font-size:10em;">news.</h1>
        </header>
        
        <!-- Conent -->
        <div id="content_clean">
        	<!-- PHP will grab all the news articles from the database. 
        	<?php 
        		// Go through each row of the news table.
        		foreach ($dbh->query($news) as $row)
        		{        			
        			// Parse the date
        			$date = date_parse($row['created_at']);        		
        		
        			//Print title.
        			echo '<h2 id="post'.$row['id'].'">'.$row['title'].'</h2>';
        			        			
        			// Print the date and description.
        			echo '<p>['.$date['month'].'.'.$date['day'].'.'.$date['year'].']  '.$row['description'].'</p><br>';
        			
        			// Print what topics will be discussed.
        			echo '<p>Topics will include:</p>';
        			echo '<ul>';
        			        			
        			// Decode the stored json to access the elements
        			$topics = json_decode($row['topics'])->topics;
        			        			
        			foreach($topics as $value){
        				echo '<li>'.$value.'</li>';
        			}
        			
        			echo '</ul>';
        			        			
        			// Print the relevant links.
        			echo '<p>Relevant Links:</p>';
        			echo '<ul>';       			
        			
        			// Decode the stored json to access the elements
        			$links = json_decode($row['links'])->links;
        			        			
        			foreach($links as $value){
        				echo '<li><a class="normal" href="'.$value->link.'">'.$value->name.'</a></li>';
        			}
        			echo '</ul>';
        			
        			echo '<br><br>';
        		}     		
        	?> -->
        </div>
{% endblock %}
