{% extends "base_content.html" %}

{% block title %}hacKSU - news{% endblock %}

{% block breadcrumb %} <a href="/news" class="current">news.</a>{% endblock %}

{% block content %} <!-- Header -->

<header>
	<h1 style="text-align:left;margin-left:50px;font-size:10em;">news.</h1>
</header>

<!-- Conent -->
<div id="content_clean">

	<h2 id="post{{news.id}}">{{news.title}}</h2>
	<p>
		[{{news.date|date:"m.d.Y"}}] {{news.description}}
	</p>
	<br>
	{% if news.topics %}
	<p>
		Topics will include:
	</p>
	<ul>
		{% for topic in news.topics.all %}
		<li>
			{{topic.title}}
		</li>
		{% endfor %}
	</ul>
	{% endif %}

	{% if news.links %}
	<p>
		Relevant Links:
	</p>
	<ul>
		{% for link in news.links.all %}
		<li>
			<a class="normal" href="{{link.url}}">{{link.title}}</a>
		</li>
		{% endfor %}
	</ul>
	<br>
	<br>
	{% endif %}

</div>
{% endblock %}
