<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.png">
        <title>{% block title %}Base Site Title{% endblock %}</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/new_main.css" media="screen">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.min.css" media="screen">
        <link href='http://fonts.googleapis.com/css?family=Lobster+Two:400' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="../../assets/js/html5shiv.js"></script>
            <script src="../../assets/js/respond.min.js"></script>
        <![endif]-->{% block extra_head %}{% endblock %}</head>
    
    <body>
        <!-- Wrap all page content here -->
        <div id="wrap">
            <!-- Social header -->
            <div id="social-header">
                <div class="container">
                    <a class="social-item" href="https://www.facebook.com/groups/hacksu/">
                        <img src="{{STATIC_URL}}img/facebook.png" />
                    </a>
                    <a class="social-item" href="https://twitter.com/hacKSU1">
                        <img src="{{STATIC_URL}}img/twitter.png" />
                    </a>
                    <a class="social-item" href="https://github.com/hacKSU">
                        <img src="{{STATIC_URL}}img/github.png" />
                    </a>
                    <a class="social-item" href="https://plus.google.com/100316329407631422164/">
                        <img src="{{STATIC_URL}}img/googleplus.png" />
                    </a>
                </div>
            </div>
            <!-- Fixed navbar -->
            <div class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">hacksu</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="/about">About</a>
                            </li>
                            <li>
                                <a href="/about">Hackathon</a>
                            </li>
                            <li>
                                <a href="/contact">Feed</a>
                            </li>
                            <li>
                                <a href="/contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
            <!-- Jumbotron for marketing message. -->
            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
                <div class="container">
                    <h1>Learn</h1>
                    <h1>Dream</h1>
                    <h1>Create</h1>
                </div>
            </div>
            <!-- Begin page content -->
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>News</h2>
                    </div>
                    <div class="col-md-6">
                        <h2>Apps</h2>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="container">
                <p class="text-muted credit">&copy; 2013 hacksu</p>
            </div>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{{ STATIC_URL }}js/jquery-2.0.3.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    </body>

</html>